* {
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  height: 100%;
}

@import "@/components/style.scss";

.app-container {
  padding: 50px;
  .react-removable-list {
    border: 1px solid springgreen;
    padding: 20px;
    width: 50%;
    margin: 50px auto;
    .is-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 30px;
      border-bottom: 1px solid #ccc;
      padding: 0 10px;
      transition: all 0.3s;
      &:hover {
        background: #eee;
      }
      button {
        padding: 5px;
        cursor: pointer;
        user-select: none;
      }
    }
  }
}
